In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Perceptron

In [22]:
df = pd.read_csv('./cpu-vendedor.csv')
df.head()

   id   vendor  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  class
0   1  adviser   125   256   6000   256     16    128    199
1   2   amdahl    29  8000  32000    32      8     32    253
2   3   amdahl    29  8000  32000    32      8     32    253
3   4   amdahl    29  8000  32000    32      8     32    253
4   5   amdahl    29  8000  16000    32      8     16    132

In [23]:
df['vendor'].unique()

array(['adviser', 'amdahl', 'apollo', 'basf', 'bti', 'burroughs', 'c.r.d',
       'cdc', 'cambex', 'dec', 'dg', 'formation', 'four-phase', 'gould',
       'hp', 'harris', 'honeywell', 'ibm', 'ipl', 'magnuson', 'microdata',
       'nas', 'ncr', 'nixdorf', 'perkin-elmer', 'prime', 'siemens',
       'sperry', 'sratus', 'wang'], dtype=object)

In [24]:
df = df.drop(['vendor'], axis=1)
df.head()

   id  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  class
0   1   125   256   6000   256     16    128    199
1   2    29  8000  32000    32      8     32    253
2   3    29  8000  32000    32      8     32    253
3   4    29  8000  32000    32      8     32    253
4   5    29  8000  16000    32      8     16    132

In [25]:
x = df.values[:, 1:7]
y = df.values[:, 7]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [27]:
clf = Perceptron(tol=1e-3, random_state=0)

In [28]:
clf.fit(X_train, y_train)

Perceptron()

In [29]:
yprediction = clf.predict(X_test)

In [30]:
print('Resultado previsto:\n', yprediction, '\n')
print('Resultado atual:\n', y_test, '\n')
print('Precisão do modelo de árvore de decisão ID3 para estes dados: ', accuracy_score(y_test, yprediction)*100)

Resultado previsto:
 [ 20  20  20  20  20  20  20  20  20  20 190  20  20  20  20 190  20  20
  20  20  20  20  20  20  20  20 190  20  20  20  20  20  20  20  20  20
  20  20  34  20  20  20  20  20  20  20  20  20  20  20  20  20  20  20
 190 190  20  20  20  20  20  20  20]

Resultado atual:
 [ 78 183  34  30  22 113  62  30  24 382  80  46  41  74  25 102 978  24
 157  41  19  29  76 101  25  50 142  33  24  18 117  64  31  67  20  81
  88 275  15  18  52 253  76  28  74  35  28 181  99  44  72  67 281  24
 381  47  50  28  27  43  41  20  20]

Precisão do modelo de árvore de decisão ID3 para estes dados:  4.761904761904762