In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [12]:
df = pd.read_csv('./glass.csv')
df.head()

,id,'RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type'
0,1,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.0,0.00,build wind float
1,2,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.0,0.00,vehic wind float
2,3,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.0,0.00,build wind float
3,4,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.0,0.00,tableware
4,5,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.0,0.24,build wind non-float

In [13]:
df["'Type'"].unique()

array(['build wind float', 'vehic wind float', 'tableware',
       'build wind non-float', 'headlamps', 'containers'], dtype=object)

In [14]:
df.replace({'build wind float': '1', 'vehic wind float': '2',  'tableware': '3', 'build wind non-float': '4', 'headlampst': '5', 'containers': '6', }, inplace = True, regex = True)
df.head()

   id     'RI'   'Na'  'Mg'  'Al'   'Si'   'K'   'Ca'  'Ba'  'Fe' 'Type'
0   1  1.51793  12.79  3.50  1.12  73.03  0.64   8.77   0.0  0.00      1
1   2  1.51643  12.16  3.52  1.35  72.89  0.57   8.53   0.0  0.00      2
2   3  1.51793  13.21  3.48  1.41  72.64  0.59   8.43   0.0  0.00      1
3   4  1.51299  14.40  1.74  1.54  74.55  0.00   7.59   0.0  0.00      3
4   5  1.53393  12.30  0.00  1.00  70.16  0.12  16.19   0.0  0.24      4

In [15]:
x = df.values[:, 1:10]
y = df.values[:, 10]

In [16]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [17]:
clf = KNeighborsClassifier(p=3)

In [18]:
clf.fit(X_train, y_train)

KNeighborsClassifier(p=3)

In [19]:
yprediction = clf.predict(X_test)

In [20]:
print('Resultado previsto:\n', yprediction, '\n')
print('Resultado atual:\n', y_test, '\n')
print('Precisão do modelo de árvore de decisão ID3 para estes dados: ', accuracy_score(y_test, yprediction)*100)

Resultado previsto:
 ['4' '4' '1' '4' '1' '1' '6' 'headlamps' '4' '1' '4' '1' '1' '1' '1' '4'
 '1' '1' '1' '1' '1' '6' '1' '3' '1' '1' '4' '1' '1' '1' 'headlamps' '4'
 '4' '1' 'headlamps' '1' '4' '1' '3' '4' '4' 'headlamps' '4' 'headlamps'
 '3' '4' 'headlamps' '4' '4' '1' 'headlamps' '1' '1' '1' '1' '1' '1' '1'
 'headlamps' '4' 'headlamps' '1' '4' '1' '3']

Resultado atual:
 ['headlamps' '6' '4' '6' '1' '1' 'headlamps' 'headlamps' '4' '4' '4' '1'
 '1' '1' '1' '6' '4' '4' '1' '1' '4' '6' '4' '3' '1' '1' '4' '2' '1' '4'
 'headlamps' '1' '4' '1' 'headlamps' '4' '4' '1' '4' '1' 'headlamps'
 'headlamps' '4' '3' '4' '4' '3' '1' '4' '1' 'headlamps' '1' 'headlamps'
 '1' '1' '1' '1' '4' 'headlamps' '4' 'headlamps' '2' '4' '1' '4']

Precisão do modelo de árvore de decisão ID3 para estes dados:  60.0