In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [11]:
df = pd.read_csv('./iris.csv')
df.head()

   id  petallength  petalwidth        class
0   1          1.4         0.2  Iris-setosa
1   2          1.4         0.2  Iris-setosa
2   3          1.3         0.2  Iris-setosa
3   4          1.5         0.2  Iris-setosa
4   5          1.4         0.2  Iris-setosa

In [12]:
df.replace({'Iris-setosa': '1', 'Iris-versicolor': '2',  'ris-virginica': '3'}, inplace = True, regex = True)
df.head()

   id  petallength  petalwidth class
0   1          1.4         0.2     1
1   2          1.4         0.2     1
2   3          1.3         0.2     1
3   4          1.5         0.2     1
4   5          1.4         0.2     1

In [13]:
x = df.values[:, 1:3]
y = df.values[:, 3]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [15]:
clf = KNeighborsClassifier()

In [16]:
clf.fit(X_train, y_train)

KNeighborsClassifier()

In [17]:
yprediction = clf.predict(X_test)

In [18]:
print('Resultado previsto:\n', yprediction, '\n')
print('Resultado atual:\n', y_test, '\n')
print('Precisão do modelo de árvore de decisão ID3 para estes dados: ', accuracy_score(y_test, yprediction)*100)

Resultado previsto:
 ['I3' '1' 'I3' '1' 'I3' 'I3' '1' '1' 'I3' '1' '1' 'I3' '1' '1' 'I3' '2'
 '2' 'I3' 'I3' 'I3' 'I3' '1' 'I3' '1' '2' 'I3' '2' '1' '2' 'I3' '2' '2'
 '2' '1' '1' '2' '1' '2' 'I3' 'I3' '1' '2' 'I3' 'I3' '1']

Resultado atual:
 ['I3' '1' 'I3' '1' 'I3' 'I3' '1' '1' 'I3' '1' '1' 'I3' '1' '1' 'I3' '2'
 '2' '2' 'I3' 'I3' 'I3' '1' 'I3' '1' '2' 'I3' '2' '1' '2' 'I3' '2' '2'
 'I3' '1' '1' '2' '1' '2' 'I3' 'I3' '1' '2' 'I3' 'I3' '1']

Precisão do modelo de árvore de decisão ID3 para estes dados:  95.55555555555556