In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree

In [16]:
df = pd.read_csv('./cpu.csv')
df.head()

   id  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  class
0   1   125   256   6000   256     16    128    198
1   2    29  8000  32000    32      8     32    269
2   3    29  8000  32000    32      8     32    220
3   4    29  8000  32000    32      8     32    172
4   5    29  8000  16000    32      8     16    132

In [17]:
df.head()

   id  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  class
0   1   125   256   6000   256     16    128    198
1   2    29  8000  32000    32      8     32    269
2   3    29  8000  32000    32      8     32    220
3   4    29  8000  32000    32      8     32    172
4   5    29  8000  16000    32      8     16    132

In [18]:
x = df.values[:, 1:7]
y = df.values[:, 7]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [20]:
clf_entropy = tree.DecisionTreeClassifier()

In [21]:
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier()

In [22]:
yprediction = clf_entropy.predict(X_test)

In [23]:
print('Resultado previsto:\n', yprediction, '\n')
print('Resultado atual:\n', y_test, '\n')
print('Precisão do modelo de árvore de decisão ID3 para estes dados: ', accuracy_score(y_test, yprediction)*100)

Resultado previsto:
 [ 21 185  12  22  19 144  21  17  12 212 116  26  21  71  36 274 915  50
 144 120  19  22  50 133  25  92 138  22  40  19  74  32  34  33  42 105
  54 237  10  11  30 220  50  40  63  26  22 189  45  45  50  50 138  14
 367  21  62  40  40  58  71  38  45]

Resultado atual:
 [  46  173   20   38   11  144   42   27   18  405   51   32   24   40
   44  368 1150   25  259   33    6   38   66  100   30   46  100   32
   40   18   93   35   40   75   32  113   65  248    6   12   50  172
   76   29   32   45   33  141  130   56  138   41  140   21  489   34
   53   77   27   60   36   16   20]

Precisão do modelo de árvore de decisão ID3 para estes dados:  3.1746031746031744