In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import CategoricalNB

In [18]:
df = pd.read_csv('./weather.csv')
df.head()

   id   outlook  temperature  humidity  windy play
0   1     sunny           85        85  False   no
1   2     sunny           80        90   True   no
2   3  overcast           83        86  False  yes
3   4     rainy           70        96  False  yes
4   5     rainy           68        80  False  yes

In [19]:
df = df.drop(['outlook', 'windy', 'play'], axis=1)
df.head()

   id  temperature  humidity
0   1           85        85
1   2           80        90
2   3           83        86
3   4           70        96
4   5           68        80

In [20]:
x = df.values[:, 1:2]
y = df.values[:, 2]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [22]:
clf = CategoricalNB()

In [23]:
clf.fit(X_train, y_train)

CategoricalNB()

In [24]:
yprediction = clf.predict(X_test)

In [25]:
print('Resultado previsto:\n', yprediction, '\n')
print('Resultado atual:\n', y_test, '\n')
print('Precisão do modelo de árvore de decisão ID3 para estes dados: ', accuracy_score(y_test, yprediction)*100)

Resultado previsto:
 [95 70 70 70 70]

Resultado atual:
 [90 75 70 90 80]

Precisão do modelo de árvore de decisão ID3 para estes dados:  20.0